$font-default: "HelveticaNeue", sans-serif;

$color-default: #848484;
$color-bold: #222222;
$color-red: #e74c3c;
$color-red-light: #f27a6d;
$color-black: #000000;
$color-grey-button: #322e2e;
$color-grey-light-button: #514d4d;
$color-grey-icons: #d4d4d4;
$color-background-grey: #e8e8e8;




