.about{
  background-color: $color-background-grey;
}
.about__inner{
  padding-top: 50px;
  @include wrapper;
  padding-bottom: 60px;
}

.about__block{
  @include row-flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about__description{
  @include col;
  @include size(4.5);
  @include size-lg(6);
  @include size-sm(12);
  @include sm(text-align,center);
  margin-left: 85px;
  @include lg(margin-left,0);
}

.about__video{
  @include col;
  @include size(5);
  @include size-lg(6);
  @include size-sm(12);
  margin-right: 5px;
  @include lg(text-align,right);
  @include sm-block{
    text-align: center;
    margin-top: 15px;
  };
  video{
    max-width: 400px;
    border-radius: 8px;
    @include md-block{
      max-width: 100%;
    }
  }
}

.about__title{
  font-size: 24px;
  line-height: 20px;
}

.about__text{
  margin-top: 18px;
  span{
    display: block;
    margin-top: 10px;
  }
}

.about__list{
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 15px;
  @include sm(text-align,left);
  li{
    line-height: 24px;
    position: relative;
    &:before{
      content: url("../img/bullet.png");
      position: absolute;
      top: 2px;
      transform: scale(.8);
      left: -18px;
    }
  }
}